.profile__content {
  height: calc(100vh - 74px);
  margin: 0 auto;
  padding: 74px 0 70px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.form__container {
  max-width: 410px;
  margin: 107px auto 0px;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__element {
  width: 410px;
  display: flex;
  justify-content: space-between;
  padding: 17px 0 16px;
  border-bottom: 1px solid #e8e8e8;
}

.form__element:last-of-type {
  border-bottom: 0;
}

.form__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
}

.form__input {
  width: 300px;
  padding: 0;
  border: none;
  text-align: right;
  color: #000;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

.form__input:focus {
  outline: none;
  border-bottom: 1px solid #e8e8e8;
}

.form__input:disabled {
  background-color: #fff;
}

.form__input::placeholder {
  color: #000;
}
.profile__edit {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 80px auto 0;
}

.profile__edit-btn {
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border: none;
  background-color: #fff;
}
.profile__edit-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.profile__exit {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #ff4062;
}
.profile__exit:hover {
  opacity: 0.7;
}

.profile__save-btn {
  width: 396px;
  height: 45px;
  color: #fff;
  font-size: 14px;
  background-color: #000;
  border: none;
  border-radius: 3px;
  opacity: 1;
}

.profile__save-btn:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.profile__save-btn:disabled :hover {
  opacity: 1;
}

.profile__save-btn:disabled {
  background-color: #f8f8f8;
  color: #c2c2c2;
  cursor: default;
}

.profile__save-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile__success-edit {
  color: #0bb95d;
}

@media screen and (max-width: 1023px) {
  .profile__content {
    margin: 0 auto;
    padding: 236px 0 269px;
  }

  .profile__edit {
    margin-top: 195px;
  }

  .form__container {
    margin-top: 80px;
  }

  .profile__title {
    width: 410px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .profile__content {
    margin: 0 auto;
    padding: 70px 0 40px;
  }

  .form__container {
    max-width: 260px;
    margin-top: 64px;
  }

  .form__element {
    width: 260px;
  }

  .profile__edit {
    margin-top: 30px;
  }

  .profile__edit-btn {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__exit {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__title {
    width: 260px;
  }
}
